# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
